<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mdg_Giftregistry>
            <version>0.2.0</version>
        </Mdg_Giftregistry>
    </modules>
    <global>
        <models>
            <mdg_giftregistry>
                <class>Mdg_Giftregistry_Model</class>
                <resourceModel>mdg_giftregistry_resource</resourceModel>
            </mdg_giftregistry>
            <mdg_giftregistry_resource>
                <class>Mdg_Giftregistry_Model_Resource</class>
                <entities>
                    <entity>
                        <table>mdg_giftregistry_entity</table>
                    </entity>
                    <item>
                        <table>mdg_giftregistry_item</table>
                    </item>
                    <type>
                        <table>mdg_giftregistry_type</table>
                    </type>
                </entities>
            </mdg_giftregistry_resource>
        </models>
        <blocks>
            <mdg_giftregistry>
                <class>Mdg_Giftregistry_Block</class>
            </mdg_giftregistry>
        </blocks>
        <helpers>
            <mdg_giftregistry>
                <class>Mdg_Giftregistry_Helper</class>
            </mdg_giftregistry>
        </helpers>
        <resources>
            <mdg_giftregistry_setup>
                <setup>
                    <module>Mdg_Giftregistry</module>
                </setup>
            </mdg_giftregistry_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <mdg_giftregistry module="mdg_giftregistry">
                    <file>mdg_giftregistry.xml</file>
                </mdg_giftregistry>
            </updates>
        </layout>
        <routers>
            <mdg_giftregistry>
                <use>standard</use>
                <args>
                    <module>Mdg_Giftregistry</module>
                    <frontName>giftregistry</frontName>
                </args>
            </mdg_giftregistry>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mdg_giftregistry before="Mage_Adminhtml">Mdg_Giftregistry_Adminhtml</mdg_giftregistry>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mdg_giftregistry module="mdg_giftregistry">
                    <file>giftregistry.xml</file>
                </mdg_giftregistry>
            </updates>
        </layout>
    </adminhtml>
</config>